/* tablet */
@media(min-width: 740px) and (max-width:1023px) {
    .header{
        height: 68px;
    }
    .header-nav{
        display: none !important;
    }
    .filter{
        display: none !important;
    }
    .filter-tablet{
        display: flex !important;
    }
    .category-tablet{
        display: flex !important;

    }
    .header-logo{
        display: none !important;
    }
    .header-search{
        height: 68px;
    }
    .header-cart{
        width: 70px;
        text-align: right;
        -webkit-tap-highlight-color: transparent;
    }
    .header-sub-cart{
        
    }
    .header-cart-list{
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        top: 68px;
        z-index: 3;
    }
    .header-cart-list::before{
        display: none;;
    }
    .header{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
    }
    .container{
        margin-top: 112px;
        padding-top: 25px;
    }
}
/* mobile */
@media(max-width: 739px){
    .header-nav{
        display: none !important;
    }
    .filter{
        display: none !important;
    }
    .filter-tablet{
        display: flex !important;
    }
    .category-tablet{
        display: flex !important;

    }

    .header-search{
        justify-content: space-between;
        height: 68px;
    }
    .header-cart{
        width: 70px;
    }
    .header-logo{
        width: 150px;
    }
    .header-search-icon{
        font-size: 3.6rem;
        color: #fff;
        margin-left: 10px;
    }
    .header-cart-icon{
        font-size: 3rem;
       
    }
    label{
        display: flex !important;
    }
    .header{
        height: 68px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
    }
    .container{
        margin-top: 100px;
        padding-left: 8px;
        padding-right: 8px;
    }
    .main{
        overflow: hidden;
    }
    .footer-link,.footer-app{
        justify-content: center;;
    }
    .footer{
        text-align: center;
    }
    .header-cart{
        width: 70px;
        -webkit-tap-highlight-color: transparent;
    }
    .header-sub-cart{
        
    }
    .header-cart-list{
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        top: 68px;
        z-index: 3;
    }
    .header-cart-list::before{
        display: none;;
    }
    .header-search-search {
        position: fixed;
        top: 68px;
        right: 0;
        left: 0;
        z-index: 2;
        animation: aaa linear 0.2s;
        display: none;
        height: 45px;
    }
    .header-search-icon-input:checked ~ .header-search-search{
        display: flex;
    }
    .header-search-history{
        position: fixed;
        top: 113px;
        right: 0;
        left: 0;
        box-shadow: none;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
    .header-search-select-option{
        top: 192%;
    }
    .pagination{
        font-size: 1.8rem;
    }
}