*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #111;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background-color: #B2060B;
    text-align: center;
}
body{
    height: 100vh;
    background-color: #f3f3f3;
}



/* -----------------------navigation----------------------*/
.nav-link img{
    width: 220px;
}

.nav{
    background-color: #ffd400;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 10px 0;
}

.nav-link{
    font-size: 14px;
}

/* xem giá tồn kho */
.nav-item:nth-child(2){
    background-color: #ffb208;
    border-radius: 3px;
    padding: 3px 8px;
}
.nav-item:nth-child(2) a{
    font-size: 12px;
    display: flex;
    align-items: center;
}
.nav-item:nth-child(2) a div{
    margin-right: 10px;
    line-height: 1.4;
}
.nav-item:nth-child(2) a div span{
    font-weight: bold;
}

/* Tìm kiếm */
.nav-item:nth-child(3){
    background-color:#fff;
    display: flex;
    align-items: center;
    border-radius: 3px;
    width: 300px;
    overflow: hidden;
}
.nav-item:nth-child(3) input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 12px !important;
    padding: 13px 10px;
}
.nav-item:nth-child(3) i{
    margin-right: 10px;
}

/* lịch sử đơn hàng */
.nav-item:nth-child(4){
    background-color:#ffb208 ;
    width: 95px;
    height: 38px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;;
}
.nav-item:nth-child(4) a{
    font-size: 13px;
}

/* giỏ hàng */
.nav-item:nth-child(5){
    background-color:#ffb208 ;
    height: 38px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
}
.nav-item:nth-child(5) a{
    font-size: 12px !important;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.nav-item:nth-child(5) a i{
    font-size: 18px;
    margin-right: 10px;
}

/* 24h công nghệ */
.nav-item:nth-child(6){
    text-align: center;
    border-right: 1px solid #eee;
    padding-right: 20px;
}

/* hỏi đáp */
.nav-item:nth-child(7){
    text-align: center;
    border-right: 1px solid #eee;
    padding-right: 20px;
    height: 38px;
    display: flex;
    align-items: center;;
}





/* -----------------------DANH MỤC----------------------------- */
.nav-category{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 20px;
}
.nav-category li a{
    display: flex;
    align-items: center;
}
.nav-category li a img{
   margin-right: 5px;
}
.nav-category li a i{
    margin-left: 5px;
}
.nav-category li{
    position: relative;
}
.nav-category li:nth-child(4) .submenu{
    background-color: #fff;
    border-radius: 3px;
    width: 780px;
    position: absolute;
    box-shadow: 0 0 10px #999;
    padding:5px 10px 10px;
    display: flex;
    justify-content: space-between;
    top: calc(100% + 10px);
    left: -10px;
    display: none;
    cursor: pointer;
    z-index: 1;
}
.nav-category li:nth-child(8) .submenu{
    background-color: #fff;
    border-radius: 3px;
    width: 150px;
    position: absolute;
    box-shadow: 0 0 10px #999;
    padding:5px 10px 10px;
    display: flex;
    justify-content: space-between;
    top: calc(100% + 10px);
    left: -10px;
    display: none;
    cursor: pointer;
    z-index: 1;
}
.nav-category li:hover .submenu{
    display: flex;
}
.nav-category li .submenu::before{
    position: absolute;
    content: '';
    display: block;
    border: 10px solid;
    border-color: transparent transparent #fff;
    top: -20px;
    left: 43px;
    cursor: pointer;
}
.nav-category li .submenu::after{
    position: absolute;
    content: '';
    display: block;
    width: 106px;
    height: 21px;
    top: -20px;
    left: 0px;
    cursor: pointer;
}
.nav-category li .submenu .subDiv p{
    font-weight: 600;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(248, 237, 237);
    display: inline-block;
    padding-top: 6px;
}
.nav-category li .submenu .subDiv a{
    padding: 6px 0;
    transition: all 0.1s;
}
.nav-category li .submenu .subDiv a:hover{
    font-weight: 600;
}





/*------------- form chọn địa chỉ nhận hàng------------ */
.address-form{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    z-index: 10;
    text-align: center;
    display: none;
}
.address-form-content{
    width: 410px;
    height: 450px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}
.address-form-content-title{
    padding: 18px 0;
    border-bottom: 1px solid #999;
}
.address-form-content-close{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #999;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.address-form-content form{
    padding: 0 40px;
}
.address-form-content form p{
    margin: 20px 0 15px;
}
.address-form-content form select{
    width: 100%;
    height: 45px;
    margin: 5px 0;
    border-radius: 5px;
    border-color: #aaa;
    outline: none;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
}
.address-form-content form input{
    width: 100%;
    height: 45px;
    margin: 5px 0;
    border-radius: 5px;
    outline: none;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #aaa;
}
.address-form-content form button{
    width: 100%;
    border-radius: 5px;
    background-color: #f97e0e;
    color: #fff;
    border: none;
    height: 45px;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
}
.openAddressForm{
    display: flex;
}


/* -------------SLIDER----------------- */
.slider{
    padding: 30px 0;
    height: 350px;
}
.slider-content{
    display: flex;
    justify-content: space-between;
}
.slider-content-left{
    width: 73%;
}
.slider-content-left-top-container{
    position: relative;
    overflow: hidden;
    border: 2px solid #ccc; 
}
.slider-content-left-top{
    position: relative;
    width: 100%;
    height: 250px;
    transition: all 0.8s;
}
.slider-content-left-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.slider-content-left-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #ddd;
    border-top: none;
    height: 50px;
}
.slider-content-left-bottom li{
    flex: 1;
    text-align: center;
    cursor: pointer;
    line-height: 16px;
    padding: 6px 10px;
    position: relative;
    font-size: 14px;
    /* transition: all 0.5s; */
}
.slider-content-left-bottom li::before{
    position: absolute;
    content: '';
    display: block;
    height: 30px;
    width: 1px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: #ddd;
}
.slider-content-left-bottom li:nth-child(5)::before{
    display: none;
}
.slider-content-left-bottom li.active{
    border-top: 4px solid #ffb208;
    font-weight: 600;
}
.slider-content-right{
    width: 27%;
    padding-left: 34px;
    display: flex;
    flex-wrap: wrap;
}
.slider-content-right li{
    width: 50%;
    height:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-content-right li img{
    width:144px;
    border-radius: 5px;
}
.slider-content-right li:nth-child(1) a img{
    margin-right: 30px;
}
.slider-content-right li:nth-child(3) a img{
    margin-right: 30px;
}
.slider-content-right li:nth-child(1){
    margin-bottom: 4px;
}
.slider-content-left-top-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: #555;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px #999 ;
    border-radius: 0 5px 5px 0;
    padding: 8px 4px ;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.slider-content-left-top-btn.left{
    left: 0;
    border-radius: 0 5px 5px 0;
}
.slider-content-left-top-btn.right{
    right: 0;
    border-radius: 5px 0 0 5px;
}
.slider-content-left-top-container:hover .slider-content-left-top-btn{
    opacity:1;
    visibility: visible;
}

/* ------------------SLIDER JS---------------------------- */
.slider-content-left-top img{
    position: absolute;
}

.slider-content-left-top a:nth-child(2) img{
    transform: translateX(100%);
}
.slider-content-left-top a:nth-child(3) img{
    transform: translateX(200%);
}
.slider-content-left-top a:nth-child(4) img{
    transform: translateX(300%);
}
.slider-content-left-top a:nth-child(5) img{
    transform: translateX(400%);
}



/* --------------------BANER 1,PRODUCT1------------------------- */
.slider-product-one{
    margin-top: 10px;
}
.slider-product-one-content-item img{
    width: 200px;
}
.slider-product-one-content-item .img{
    text-align: center;
    margin-top: 30px;
    transition: all 0.3s;
}

.slider-product-one-content-item-info li img{
    width: 20px;
}
.slider-product-one-content-item-info li:nth-child(1){
    background-color: #d20e05;
    display: inline-block;
    font-size: 10px;
    color: #fff;
    height: 20px;
    border-radius: 10px;
    margin: 15px 0;
}
.slider-product-one-content-item-info li:nth-child(1) span{ 
    display: inline-block;
    transform: translateY(-6px);
    padding: 0 6px 0 2px;
}
.slider-product-one-content-item-info li:nth-child(2){
    font-size: 14px;
}
.slider-product-one-content-item-info li:nth-child(3){
    margin: 8px 0;
}
.slider-product-one-content-item-info li:nth-child(3) span:nth-child(1){
    font-size: 18px;
    color: #d0021c;
    font-weight: 600;
    margin-right: 8px;
}
.slider-product-one-content-item-info li:nth-child(3) span:nth-child(2){
    font-size: 14px;
    color: #eb5757;
    font-weight: 600;
    background-color: #fff0e9;
    border-radius: 5px;
    padding: 3px;
}
.slider-product-one-content-item-info li:nth-child(4) span:nth-child(1){
    font-size: 14px;
    color: #fb6e2e;
    font-weight: 600;
}
.slider-product-one-content-item-info li:nth-child(4) span:nth-child(1) i{
    font-size: 12px;
    transform: translateY(-1px);
    margin-left: 3px;
}
.slider-product-one-content-item-info li:nth-child(4) span:nth-child(2){
    font-size: 14px;
    color: #888;
    margin-left: 5px;
}
.slider-product-one-content-items{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider-product-one-content-item{
    background-color: #fff;
    display: inline-block;
    width: 225px;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    height: 440px;
    position: relative;
}
.slider-product-one-content-container{
    position: relative;
    overflow: hidden;
    background-color: #f29f01;
}
.slider-product-one-content-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-90%);
    font-size: 40px;
    color: #555;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px #999 ;
    border-radius: 0 5px 5px 0;
    padding: 8px 4px ;
    cursor: pointer;
    opacity: 0.2;
    transition: all 0.3s;
}
.slider-product-one-content-container:hover .slider-product-one-content-btn{
    opacity: 1;
}
.slider-product-one-content-btn.left{
    left: 0;
    border-radius: 0 5px 5px 0;
}
.slider-product-one-content-btn.right{
    right: 0;
    border-radius: 5px 0 0 5px;
}
.slider-product-one-content-item:hover .img{
    transform: translateY(-3px);
}
.slider-product-one-content-item:hover .slider-product-one-content-item-info li:nth-child(2){
    color: #288ad6;
}
.slider-product-one-content-item .installment{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    background-color: #eee;
    padding: 3px;
    border-radius: 5px;
}
.slider-product-one-content-title img{
    transform: translateY(4px);
}
.slider-product-one-content-items-content{
    position: relative;
    height: 480px;
    transition: all 0.8s;
}
.slider-product-one-content-items{
    position: absolute;
    width: 100%;
}
.slider-product-one-content-items:nth-child(2){
    transform: translateX(100%);
}
.slider-product-one-content-items:nth-child(3){
    transform: translateX(200%);
}
.slider-product-one-content-items:nth-child(4){
    transform: translateX(300%);
}
.slider-product-one-content-container button{
    font-size: 14px;
    color: #444;
    width: 340px;
    background-color: #fff;
    border: none;
    padding: 15px 0;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}


/* -------------PRODUCT MAIN-------------------- */
.product-main-title img{
    width: 50px;
}
.product-main-title{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.product-main-title span{
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-left: 5px;
    transform: translateY(4px);
}
.product-main-control-item{
    background-image: url(./img/goi-y-hom-nay.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
    cursor: pointer;
    transition: all 0.3s;
}
.product-main-control-item img{
    height: 50px;
}
.product-main-control-item span{
    font-size: 18px;
    color: #444;
    margin-left: 5px;
    transform: translateY(1px);
}
.product-main-control-item.active{
    background-color: #feb70b;
}
.product-main-control{
    margin-bottom: 20px;
}
.product-main-content{
    display: none;
}
.product-main-content.active{
    display: block;
}



/* --------------------------FOOTER-------------------------------- */
.footer{
    background-color: #fff;
}