*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}
body{
    background-color: #f5f5f5;
}
:root{
    --primary-color:#ec1f55;
}
.main{
    width: 480px;
    margin:0 auto;
    text-align: center;;
}
.player{
    background-color: #fff;
    position: fixed;
    width: 480px;
    top: 0;
    border-bottom: 1px solid #ddd;
    background-color: #321b2e;
    color: #fff;
}
.player-now{
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: 600;
    padding-top: 18px;
}
.player-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 8px;
}
.player-cd{
    width: 200px;
    margin: 0 auto;;
    margin-top: 14px;
}
.player-cd-img{
    background-image: url(/js-nangcao/yumkhiemton.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 100%;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
}
.player-control{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 8px;
}
.fa-circle-pause{
    display: none;
}
.btn{
    font-size: 2rem;
    color: #666;
    padding: 12px;
    color: #fff;
}
.btn-play{
    font-size: 5.2rem;
    color: var(--primary-color);
}
.player-time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    color: var(--primary-color);
    font-size: 1.6rem;
}
#progress {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background-image: linear-gradient(to right, #f6bbfd, #8cd3c5, #ffc511, #ffa300, #ff7d01, #fe6581, #f8d90f,#a5d96b,#e578d5,#4482d9,#ffd2d7,#fed38e,#90e4cd,#84dce0,#fd65b2);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 8px;
    margin-bottom: 18px;
}
#progress:hover {
    opacity: 1;
}
#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background: #fff;
    cursor: pointer;
  }
  
  #progress::-moz-range-thumb {
    width: 12px;
    height: 6px;
    background: #fff;
    cursor: pointer;
  }
.playList-item-img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin: 14px 22px;
}
.playList{
    margin-top: 418px;
    margin-left: 10px;
    margin-right: 10px;
}
.playList-item{
    display: flex;
    align-items: center;
    background-color: #321b2e;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 12px;
    color: #fff;
}
.playList-item-content-title {
    font-size: 1.8rem;
    font-weight: 600;
}
.playList-item-content-singer {
    font-size: 1.3rem;
    color: #fff;
}
.playList-item-icon {
    font-size: 2.4rem;
    font-weight: 600;
    color: #fff;
    margin-left: auto;
    margin-right: 22px;
}
.playList-item-content {
    text-align: left;
    line-height: 1.4;
}
.btn-play-active .fa-circle-pause{
    display: inline-block;
}
.btn-play-active .fa-circle-play{
    display: none;
}
.active{
    color: var(--primary-color);
    
}
.playList-item.playing .playList-item-content-singer,
.playList-item.playing .playList-item-icon,
.playList-item.playing .playList-item-content-title  {
    color: #fff;
}
.playing{
    background-color: var(--primary-color);
}